# Ignore system and configuration files
*.log
*.dat
*.ini

# Ignore directories
node_modules/
.vscode/
AppData/
Desktop/
Downloads/
Documents/
Pictures/
Videos/
OneDrive/

# Ignore backup files
*.bak
*.tmp
