# Ignore system files
.DS_Store
Thumbs.db

# Ignore node_modules
node_modules/

# Ignore OS files
*.log
*.swp

# Ignore IDE-specific files
.vscode/

# Ignore personal files
*.bak
*.tmp

# Ignore build files
/dist
/build

# Ignore other directories you don't need to track
*.idea
